.blue {
    background-color: #DFE8FF;
}

#submit_form {
    padding-top: 15px;
    margin-bottom: 5px;

}

.content {
    text-align: center;
}

.exercise_name {
    display: block;
    width: 25%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    border-radius: 10px;
    text-align: center;
}

.exercise_description {
    display: block;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -50px;
    border-radius: 10px;
    text-align: center;
}

.exercise_link {
    display: block;
    width: 25%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-top: -40px;
    border-radius: 10px;
    text-align: center;
}

.exercise_img {
    display: block;
    width: 25%;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-top: -50px;
    border-radius: 10px;
    text-align: center;
}

.exercise_repetitions {
    display: block;
    width: 25%;
    margin-right: auto;
    margin-bottom: -25px;
    margin-left: auto;
    margin-top: -50px;
    border-radius: 10px;
    text-align: center;
}

.submit_button {
    width: 15%;
    border-radius: 20px;
    background-color: #4990e2;
}

#text {
    font-size: 20px;
}

#selecter {
    margin-bottom: 50px;
}





