.button {
    background-color: #DCDCDC; /* grey */
    border: 3px solid #DCDCDC;
    color: white;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    font-size: 30px;
    width: 200px;
    height: 200px;
    border-radius: 8px;
}


.buttonok {
    background-color: #5478DB;
    color: white;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    cursor: not-allowed;
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 30px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
}
.blue {
    background-color: #DFE8FF;
}
