.evaluation.p {
    margin-top: 10px;
    margin-left: 40px;
}

.evaluation.form-group {
    width: 60%;
}

.evaluation.heading {
    text-align: center;
}

.evaluation.paragraph {
    margin-right: 50px;
    margin-left: 50px;
    padding-bottom: 1px;
}

.evaluation.form-wrapper {
    margin-top: 3px;
    width:100%;
}

.evaluation.submit-button {
    margin-right: 11px;
    /*background-color: #5ba3e7;*/
    /*color: white;*/
}

.evaluation.submit-button-2 {
    background-color: #5ba3e7;
    color: white;
}

