.div-block {
  margin-left: 12px;
}

.div-block-2 {
  background-color: #3e95cf;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-block {
  margin-top: 20px;
  margin-bottom: 21px;
  font-size: 30px;
  font-style: normal;
}

.form-wrapper {
  width: 75%;
  padding: 19px;
  border: 3px solid #3898ec;
  background-color: rgba(0, 152, 255, .1);
  text-align: left;
}

.form {
  border-bottom-color: #3898ec;
  text-align: left;
}

.body {
  background-image: url('../img/gradient-blue-white-linear-2560x1440-c2-fffff0-1e90ff-a-135-f-14.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: cover, 125px;
  text-align: left;
}

.checkbox {
  text-align: left;
}

.text-block-2 {
  padding-bottom: 18px;
}

.submit-button {
  height: 40px;
  margin-top: 6px;
  float: left;
}

.text-block-3 {
  overflow: visible;
  height: 40px;
  margin-top: 6px;
  padding-top: 7px;
  padding-right: 12px;
  padding-left: 12px;
  float: left;
  border-top: 3px solid #3898ec;
  border-right: 3px solid #3898ec;
  border-bottom: 3px solid #3898ec;
  background-color: rgba(0, 152, 255, .3);
  opacity: 1;
}

.login-div {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: hsla(0, 0%, 100%, .7);
}

.login_header_div {
  padding: 13px 12px 12px;
  border-radius: 15px 15px 0px 0px;
  background-color: rgba(73, 144, 226, .9);
}

.form-wrapper-login {
  padding-top: 34px;
  padding-right: 34px;
  padding-left: 34px;
  text-align: center;
}

.username_field {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: none;
  border-radius: 10px;
  text-align: center;
}

.password_field {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  text-align: center;
}

.field-label {
  float: none;
  color: #293263;
}

.register-form {
  color: #fff;
}

.checkbox-field {
  display: inline-block;
}

.checkbox-field-2 {
  display: block;
  width: 15%;
  margin-right: auto;
  margin-left: auto;
}

.field-label-2 {
  float: left;
  color: #293263;
  font-size: 14px;
  text-transform: none;
}

.submit-button-register {
  width: 30%;
  margin-top: 9px;
  border-radius: 20px;
  background-color: #4990e2;
}

.image {
  margin-left: 23px;
}

.link {
  display: block;
  margin-top: 17px;
}

.field-label-3 {
  color: #293263;
}

.text-field {
  position: static;
  display: inline;
  float: left;
  clear: none;
}

.register_button {
  width: 30%;
  border-radius: 20px;
  background-color: #4990e2;
}

.field-label-4 {
  float: left;
  color: #000;
}

.field-label-5 {
  float: left;
  color: #000;
}

.firstname-field {
  display: block;
  width: 50%;
  margin: 20px auto;
  border-radius: 10px;
  text-align: center;
}

.lastname-field {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  border-radius: 10px;
  text-align: center;
}

.email-field {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  border-radius: 10px;
  text-align: center;
}

.password-field1 {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  border-radius: 10px;
  text-align: center;
}

.password-field2 {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  border-radius: 10px;
  text-align: center;
}

.text-field-4 {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  text-align: center;
}

.field-label-6 {
  display: block;
  margin-right: auto;
  margin-bottom: 8px;
  margin-left: auto;
  float: left;
  color: #000;
}

.checkbox-user-agreement {
  display: block;
  width: 35%;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.checkbox-2 {
  display: block;
}

.body-2 {
  background-image: url('../img/gradient-blue-white-linear-2560x1440-c2-fffff0-1e90ff-a-135-f-14.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.agreement_textblock {
  display: block;
  overflow: scroll;
  width: 80%;
  height: 50vh;
  margin: 40px auto;
  border: 1px solid #589ae5;
  background-color: #fff;
  text-align: left;
}

.body-3 {
  background-image: url('../img/gradient-blue-white-linear-2560x1440-c2-fffff0-1e90ff-a-135-f-14.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.button {
  display: block;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  text-align: center;
}

.container {
  margin-top: -96px;
}
