.treatment.link_collapse{
    text-decoration: none;
    border:none;
}

.treatment.title_text{
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    margin-top:60px;
}

.treatment.exercise_box{
    max-width: 1000px;
    height:200px;
    margin: 0 auto;
    text-align: left;
    margin-top:50px;
}

.treatment.exercise_heading{
    text-decoration: none;
}

.treatment.exercise_box_container{
    text-decoration: none;
    max-width:1000px;
    padding:0;
    margin:0 auto;
}

.treatment.exercise_quickview_text{
    width:auto;
    margin-left:70px;
    margin-top:20px;
    background-color: #efeaea;
    font-size:35px;
    color: #5ba3e7;
    float: left;
    font-weight: bold;
}

.treatment.exercise_quickview_repeats{
    width:100px;
    margin-left:auto;
    margin-right: 20px;
    margin-top:5px;
    background-color: #efeaea;
    color: #5ba3e7;
    text-align:center;
}

.treatment.exercise_quickview_text_repeats{
    width:120px;
    text-align:center;
    font-size:20px;
    float: top;
    text-decoration: none;
    margin:0;
    font-weight: bold;
}

.treatment.exercise_quickview_amount_repeats{
    font-size:45px;
    width:120px;
    float: bottom;
    text-align:center;
    text-decoration: none;
    margin:0;
    font-weight: bold;
}

.treatment.exercise_quickview_box{
    height:200px;
}

.treatment.exercise_quickview_image_box{
    max-height:100px;
    max-width:100px;
    margin-top:10px;
    margin-left:5px;
    float: left;
    box-shadow: 0px 0px 15px #888888;
}

.treatment.exercise_collapse{
    background-color: #efeaea;
    min-height:200px;
}

.treatment.exercise_heading{
    height:120px;
    background-color: #efeaea;
}

.treatment.image_box{
    background-color: #efeaea;
    max-height:200px;
    max-width:200px;
    margin-left:100px;
    float: left;
    box-shadow: 0px 0px 15px #888888;
}

.treatment.text_in_collapse{
    max-width:270px;
    float: left;
    margin-left:20px;
}

.treatment.exercise_description{
    color:black;
}
