.treatment.link_collapse{
    text-decoration: none;

}

.treatment.title_text{
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    margin-top:50px;
}

.treatment.exercise_box{
    max-width: 1000px;
    height:200px;
    margin: 0 auto;
    text-align: left;
    margin-top:50px;
}

.treatment.exercise_heading{
    text-decoration: none;
}

.treatment.exercise_box_container{
    text-decoration: none;
    max-width:1000px;
    padding:0;
    margin:0 auto;
}

.treatment.exercise_quickview_text{
    width:auto;
    margin-left:70px;
    margin-top:15px;
    background-color: #efeaea;
    font-size:40px;
    color: #4990e2;
    float: left;
}

.treatment.exercise_quickview_repeats{
    width:100px;
    margin-left:auto;
    margin-right: 0;
    margin-top:10px;
    background-color: #efeaea;
    color: #4990e2;
    text-align:center;
}

.treatment.exercise_quickview_text_repeats{
    width:auto;
    text-align:center;
    font-size:20px;
    float: top;
    text-decoration: none;
    margin:0;
}

.treatment.exercise_quickview_amount_repeats{
    font-size:40px;
    width:auto;
    float: bottom;
    text-align:center;
    text-decoration: none;
    margin:0;

}

.treatment.exercise_quickview_box{
    height:200px;
}

.treatment.exercise_quickview_image_box{
    max-height:100px;
    max-width:100px;
    margin-top:15px;
    float: left;
}


.treatment.exercise_collapse{
    height:200px;
    background-color: #efeaea;

}

.treatment.exercise_heading{
    height:120px;
    background-color: #efeaea;
}

.treatment.image_box{
    background-color: #efeaea;
}