<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a ng-click="loadPage('profiel')">Profiel<span style="font-size:18px;" class="pull-right hidden-xs showopacity glyphicon"><i class="fa fa-user" aria-hidden="true"></i></span></a></li>
                <li ><a ng-click="loadPage('klachten')">Klachten<span style="font-size:18px;" class="pull-right hidden-xs showopacity glyphicon"><i class="fa fa-plus-square" aria-hidden="true"></i></span></a></li>
                <li ><a ng-click="loadPage('evaluatie')">Evaluatie<span style="font-size:18px;" class="pull-right hidden-xs showopacity glyphicon"><i class="fa fa-plus-square" aria-hidden="true"></i></span></a></li>
                <li ><a href="#">Geschiedenis<span style="font-size:18px;" class="pull-right hidden-xs showopacity glyphicon"><i class="fa fa-archive" ria-hidden="true"></i></span></a></li>
                <li ><a ng-click="loadPage('behandelplan')">Behandelplan<span style="font-size:18px;" class="pull-right hidden-xs showopacity glyphicon"><i class="fa fa-list" aria-hidden="true"></i></span></a></li>
            </ul>
        </div>
    </div>
</nav>